.routeSummary {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1c1c;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 16px 20px;
  font-size: 13px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  min-width: 300px;
  max-width: 90vw;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.routeSummary h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}

.routeSummary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.routeSummary li {
  margin-bottom: 6px;
}

.routeSummary strong {
  color: #bbb;
}

.routeSummary > button {
  all: unset;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.airportContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.airportRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.airport {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 250px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

.airportCode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px
}

.airportCode img {
  width: 24px;
  height: 24px;
}

.arrow {
  padding-inline: 1rem;
}
