.legend > h4 {
  margin-top: 0;
}

.legendContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.5rem;
}

.legendIconWrapper {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

.greenMarker {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #008000;
  opacity: 0.7;
  border: 2px solid #008000;
}

.redMarker {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff2d55;
  opacity: 0.7;
  border: 2px solid #ff2d55;
}

.icaoBox {
  flex-shrink: 0;
  background: #1c1c1c;
  color: white;
  border-radius: 12px;
  padding: 0.1rem 0.5rem;
  font-size: 0.75rem;
  font-family: monospace;
  border: 1px solid #444;
}
